/* public/css/navbar.css */

.navbar {
    background-color: #343a40;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    transition: color 0.3s;
}

.brand-word-1 {
    color: #ff4081; /* Color para "Román" */
}

.brand-word-2 {
    color: #00bcd4; /* Color para "Art" */
}

.navbar-brand:hover {
    color: #fff !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-right: 1rem;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 100px; /* Ajusta el ancho según sea necesario */
}

/* Colores específicos para cada enlace */
.navbar-nav .nav-link-1 {
    background-color: #ff4081;
}

.navbar-nav .nav-link-2 {
    background-color: #ff9800;
}

.navbar-nav .nav-link-3 {
    background-color: #8bc34a;
}

.navbar-nav .nav-link-4 {
    background-color: #00bcd4;
}

.navbar-nav .nav-link:hover {
    color: #343a40 !important;
    background-color: #fff !important;
}

.navbar-toggler-icon {
    border: 2px solid rgb(226, 226, 98); /* Borde amarillo */
}



/* Estilo para el desplegable */
@media (max-width: 992px) {
    .navbar-nav .nav-link {
        width: 100%; /* Ancho completo en el desplegable */
    }

    .navbar-nav .nav-item {
        text-align: center; /* Centrar el texto */
        padding: 0.5rem 0; /* Espaciado uniforme */
    }
}
