

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.custom-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #0d47a1;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #0d47a1;
    padding-bottom: 10px;
    display: inline-block;
}

p {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px; /* Limita el ancho del párrafo para mejorar la legibilidad */
}

.custom-card {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo con opacidad */
    z-index: 1;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card img,
.custom-card .card-body {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del fondo */
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    color: #0d47a1;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 10px;
}


.scrolling-wrapper {
    display: flex; /* Asegura que los elementos hijo se alineen en línea */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
}



.card {
    display: inline-block;
    width: 300px;  /* Ancho fijo de cada tarjeta */
    height: 300px; /* Altura fija de cada tarjeta */
    margin-right: 10px;
    animation: scroll 40s linear infinite;
    vertical-align: top; /* Alinea todas las tarjetas correctamente */
    overflow: hidden; /* Oculta cualquier desbordamiento dentro de la tarjeta */
    background-color: #fff; /* Fondo blanco para mejor visibilidad */
}


.card-img-top {
    width: 100%;  /* Forzar a la imagen a tomar el ancho completo de la tarjeta */
    height: 100%; /* Forzar a la imagen a tomar la altura completa de la tarjeta */
    object-fit: scale-down; /* Asegura que la imagen se ajuste dentro del espacio asignado, reduciéndose si es necesario pero sin recortarse */
    display: block; /* Elimina cualquier espacio extra debajo de la imagen que pueda aparecer */
}





.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; /* Ajuste en caso de que el contenido exceda el espacio disponible */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejorar la lectura */
    padding: 10px; /* Espaciado interno */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


